html {
  background: gray;
}

body {
  background: white;
  height: 600px;
  border: 2px solid black;
  padding: 2rem;
}

.block1 {
  position: absolute;
  top: 17rem;
  background: pink;
  border: 2px solid darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  height: 70px;
  width: 70px;
  z-index: 200;
}

.block2 {
  position: absolute;
  background: red;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  top: 18rem;
  z-index: 300;
  font-size: x-large;
  margin: 10px 0 0 20px;
}

.float {
  position: relative;
  background: lightblue;
  border: 2px solid darkblue;
  float: left;
  top: 9rem;
  left: 18rem;
  height: 170px;
  width: 170px;
  margin: -50px 0 0 60px;
}

.inline {
  display: flex;
  background: blue;
  color: white;

  padding: 10px 40px 10px 40px;
}

.position {
  display: flex;
  background: green;
  position: relative;
  ;
  top: -15px;
  height: 110px;
}