# As soon as the database connection is set up
# this file needs to be edited as described 
# in Chapter 02, Video 03 "Adding MongoDB and Mongoose ..."
# Then it needs to be renamed .env
# Make sure to never commit .env to a version control system
# (see also .gitignore)
DEVELOPMENT_DB_DSN=
PRODUCTION_DB_DSN=
TEST_DB_DSN=