.grid-container {
  border: 4px solid black;
  display: grid;
  /*   grid-template-columns: 100px 100px 100px; */
  /*   grid-template-rows: 100px 100px; */
  /*   grid-auto-rows: 200px; */
  grid-auto-columns: 50px;
}

.grid-item {
  border: 2px solid midnightblue;
  padding: 10px;
}