  <!-- //////////////////////////////////////////////////////////////////////////////////////////////
                         START SECTION 4 - THE SERVICES
///////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="services" class="services">
    <div class="container">
      <div class="row text-center">
        <h1 class="display-3 fw-bold">Our Services</h1>
        <div class="heading-line mb-1"></div>
      </div>
    <!-- START THE DESCRIPTION CONTENT  -->
      <div class="row pt-2 pb-2 mt-0 mb-3">
        <div class="col-md-6 border-right">
          <div class="bg-white p-3">
            <h2 class="fw-bold text-capitalize text-center">
              Our Services Range From Initial Design To Deployment Anywhere Anytime
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-white p-4 text-start">
            <p class="fw-light">
              Lorem ipsum dolor sit amet consectetur architecto magni,
              dicta maxime laborum temporibus dolorem esse doloremque illo quas nisi enim molestias.
              Tempore ducimus molestiae in dolore enim.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- START THE CONTENT FOR THE SERVICES  -->
    <div class="container">
      <!-- START THE MARKETING CONTENT  -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
          <div class="services__content">
            <div class="icon d-block fas fa-paper-plane"></div>
            <h3 class="display-3--title mt-1">Marketing</h3>
            <p class="lh-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
               doloremque autem quibusdam blanditiis harum alias hic accusantium
               maxime atque ratione magni repellat?
            </p>
            <button type="button" class="rounded-pill btn-rounded border-primary">Learn more
              <span><i class="fas fa-arrow-right"></i></span>
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
          <div class="services__pic">
            <img src="images/services/service-1.png" alt="marketing illustration" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- START THE WEB DEVELOPMENT CONTENT  -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
          <div class="services__pic">
            <img src="images/services/service-2.png" alt="web development illustration" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
          <div class="services__content">
            <div class="icon d-block fas fa-code"></div>
            <h3 class="display-3--title mt-1">web development</h3>
            <p class="lh-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
               doloremque autem quibusdam blanditiis harum alias hic accusantium
               maxime atque ratione magni repellat?
            </p>
            <button type="button" class="rounded-pill btn-rounded border-primary">Learn more
              <span><i class="fas fa-arrow-right"></i></span>
            </button>
          </div>
        </div>
      </div>
      <!-- START THE CLOUD HOSTING CONTENT  -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
          <div class="services__content">
            <div class="icon d-block fas fa-cloud-upload-alt"></div>
            <h3 class="display-3--title mt-1">cloud hosting</h3>
            <p class="lh-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
               doloremque autem quibusdam blanditiis harum alias hic accusantium
               maxime atque ratione magni repellat?
            </p>
            <button type="button" class="rounded-pill btn-rounded border-primary">Learn more
              <span><i class="fas fa-arrow-right"></i></span>
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
          <div class="services__pic">
            <img src="images/services/service-3.png" alt="cloud hosting illustration" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>