.container {
  display: table;
  border: 3px solid black;
  width: 700px;
  height: 300px;
  margin: 0 auto;
  /*   overflow: hidden;
    display: flow-root; */
}

.float {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  border: 2px solid white;
  height: 300px;
  width: 80px;
  padding: 30px;
  float: left;

}