*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* ul {
  font-family: Times;
  color: red;
} */

/* class */
/* .nested {
  font-family: Times;
  color: red;
} */

/* id */
/* #last {
  color: red;
} */

/* #last, .nested {
  color: red;
} */

/* ul a {
  color: red;
} */

/* descendant selector */
ul ul a {
  color: red;
}

/* ul ol ul ol {
  border: 1px solid blue;
} */

ul ol ul ol li {
  border: 1px solid blue;
}

/* parent child selector */
ul.nested > li {
  border: 2px dotted black;
}

ul.nested li > ol li ~ li {
  color: green;
  padding: 1rem;
}

[title] {
  background-color: green;
}

/* exact attribute value */
[title="Guess"] {
  color: white;
}

/* arbitrary substring attribute value */
[title*="Guess"] {
  color: white;
  border: 5px dashed black;
}

/* beginning substring selector */
[title^="Guess"] {
  background-color: orange;
}

/* ending substring selector */
[title$="this"] {
  background-color: brown;
  color: yellow;
}




/*
Elements, classes, IDs
Groups of selectors
Descendent selectors
Parent-child
Adjacent/general sibling
Attribute selectors

*/