header {
    font-weight: bold;
    /* font-style: italic; */
    /*   font-style: oblique; */
    color: blue;
    background-color: gray;
    padding: 10px;
    margin: 0 auto;
}

header h1 {
    /*   font-weight: 400; */
    font-weight: normal;
}

i {
    font-style: normal;
}